#counterL{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: 'Times New Roman', Times, serif;
}

#Buttons{
    text-align: center;
}

.buttons{
    padding: 10px 20px;
    font-size: 1.5em;
    color:rgb(228, 222, 240);
    background-color: rgb(212, 99, 99);
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.45s;

}
.buttons:hover{
    color:black;
    background-color:rgb(160, 218, 24);
}



.buttonsR{
    padding: 10px 20px;
    font-size: 1em;
    color:rgb(228, 222, 240);
    background-color: rgb(212, 99, 99);
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.45s;

}
.buttonsR:hover{
    color:black;
    background-color:rgb(160, 218, 24);
}


